sublime2/User/Package\ Control.last-run
sublime2/User/Package\ Control.cache/
sublime2/User/Package\ Control.system-ca-bundle
sublime2/User/bh_unicode_properties.cache
emacs/emacs.d.symlink/framegeometry
emacs/emacs.d.symlink/last-wconf
git/gitconfig.symlink
