sublime2/User/Package\ Control.last-run
sublime2/User/Package\ Control.cache/
sublime2/User/Package\ Control.system-ca-bundle
sublime2/User/bh_unicode_properties.cache
sublime2/User/.SublimeREPLHistory/
sublime2/User/SublimeREPLHistory/
sublime3/User/Package\ Control.last-run
sublime3/User/Package\ Control.cache/
sublime3/User/Package\ Control.system-ca-bundle
sublime3/User/bh_unicode_properties.cache
sublime3/User/.SublimeREPLHistory/
sublime3/User/SublimeREPLHistory/
emacs/emacs.d.symlink/framegeometry
emacs/emacs.d.symlink/last-wconf
git/gitconfig.symlink